appdirs==1.4.4
asgiref==3.3.1
certifi==2025.1.31
charset-normalizer==3.4.1
distlib==0.3.1
Django==3.1.6
django-crispy-forms==1.11.1
django-multiselectfield==0.1.13
django-rename-app==0.1.2
django-rest-framework==0.1.0
django-tinymce4-lite==1.8.0
django-widget-tweaks==1.4.8
djangorestframework==3.12.2
filelock==3.0.12
globe==1.0.1
idna==3.10
jsmin==3.0.1
pytz==2021.1
requests==2.32.3
six==1.15.0
sqlparse==0.4.1
typing-extensions==4.13.0
urllib3==2.3.0
virtualenv==20.4.2
