<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <!-- <th>Date Generated</th> -->
                        <th>Code</th>
                        <th>Item</th>
                        <th>Farmer</th>
                        <th>Sales</th>
                        <th>Golden Ticket</th>
                        <th>Ticket Value</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Code</th>
                        <th>Item</th>
                        <th>Farmer</th>
                        <th>Sales</th>
                        <th>Golden Ticket</th>
                        <th>Ticket Value</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for coupon in coupons %}
                    <tr>
                        <td>{{coupon.code}}</td>
                        <td>{{coupon.item}}</td>
                        <td>{{coupon.farmer}}</td>
                        <td>{{coupon.saleslady}}</td>
                        <td>{{coupon.is_golden_ticket}}</td>
                        {% if coupon.item %}
                        <td>{{coupon.item.ticket_value}}</td>
                        {% else %}
                        <td>{{coupon.ticket_value}}</td>
                        {% endif %}
                       
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>