{% extends 'farmercoupon/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
    
    {% if request.user.farmer %}
    <h1>Edit Farmer</h1>
    {% else %}
    <h1>Edit Sales</h1>
    {% endif %}
        
    
    <form method="POST">
        {% csrf_token %}
        {{userForm|crispy}}
        {{form|crispy}}
        <input type="submit" value="Update" class="form-group col-md-1 mb-0 btn btn-primary btn-user btn-block" />
    </form>

</div>
{% endblock content %}