{% extends 'farmercoupon/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
    <h2>Register a Farmer</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-3 mb-0">
                {{form.first_name|as_crispy_field}}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{form.last_name|as_crispy_field}}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3 mb-0">
                {{form.region|as_crispy_field}}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{form.province|as_crispy_field}}
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-2 mb-0">
                {{form.city|as_crispy_field}}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{form.mobile_number|as_crispy_field}}
            </div>
        </div>
        <input type="submit" value="Register" class="form-group col-md-1 mb-0 btn btn-primary btn-user btn-block" />
        <br>
    </form>
    {% include 'farmercoupon/user_tables.html' %}

</div>
{% endblock content %}