{% extends 'farmercoupon/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
   <form method="POST">
        <div class="mb-4">
            <h3>Generate Purchase</h1>
                {% csrf_token %}
                <div class="form-group">
                    {%crispy form%}
                </div>
            <input type="submit" value="Generate" class="btn btn-primary btn-user btn-block col-lg-2">
        </div>
        
    </form>
    {% include 'farmercoupon/coupon_tables.html' %}
</div>

{% endblock content %}