{% load crispy_forms_tags %}

<div class="container-fluid">
  <form id="demo" method="POST">
    {% csrf_token %}
    <div disabled class="empty-form" style="display: none">
      <div>
        <div class="form-row">
          {% for field in formset.empty_form %}
          <div class="form-group col-md-3 mb-0">
            {{field|as_crispy_field}}
          </div>
          {% endfor %}
        </div>
        <button type="button" class="btn btn-primary btn-user" data-formset-remove-form>
          DELETE
        </button>
        <hr>
      </div>
    </div>
 
    <div class="forms">
      {{formset.management_form}}
      {% for form in formset %}
      <div class="form-row">
        {% for field in form %}
        <div class="form-group col-md-3 mb-0">
          {{field|as_crispy_field}}
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    <button type="button" class="btn btn-primary btn-user" id="add_more" data-formset-add-form>
      Add purchase form
    </button>
    <input type="submit" value="Submit" class="btn btn-primary btn-user">
  </form>

</div>