<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    
    {% if request.user.is_superuser %}
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'manageusers' %}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
    </a>
    {% else %}
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'profile' %}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
    </a>
    {% endif %}

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    {% if request.user.is_superuser %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'admin' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
       
    </li>
    {% endif %}
    

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    {% if user.groups.get.name == 'DAS' or user.groups.get.name == 'admin' %}
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-users"></i>
            <span>Users</span>
        </a>
        <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Manage Users:</h6>
                <a class="collapse-item" href="{% url 'manageusers' %}">View Users</a>
                <a class="collapse-item"  name="addfarmeruser" href="{% url 'addusers' 'Farmer' %}">Add Farmer</a>
                <a class="collapse-item"  name="addsalesuser" href="{% url 'addusers' 'Saleslady' %}">Add Sales</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsethree"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-ticket-alt"></i>
            <span>Coupons</span>
        </a>
        <div id="collapsethree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{% url 'managecoupons'%}">Generate Coupons</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsefour"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-ticket-alt"></i>
            <span>Purchases</span>
        </a>
        <div id="collapsefour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{% url 'viewpurchases'%}">View Purchases</a>
                <a class="collapse-item" href="{% url 'addpurchases'%}">Add Purchases</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'manageproducts' %}">
            <i class="fas fa-dolly-flatbed"></i>
            <span>Manage Products</span></a>
    </li>
    {% if user.groups.get.name == 'admin' %}
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Reports</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Reports:</h6>
                <a class="collapse-item" href="{% url 'salesperitem' %}">Sales Per Item</a>
                <a class="collapse-item" href="{% url 'salespercategory' %}">Sales Per Category</a>
                <a class="collapse-item" href="cards.html">Coupon Reports</a>
            </div>
        </div>
    {% endif %}
    </li>
    {% endif %}
    
       
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->